In [1]:
import pandas as pd
import json
import requests

In [16]:
# This datasource has about 920000 records but the Socrata API limits calls at 50,000 records
# We can download a csv file (which is too large for github to publish) or can build a system to page through records if we need to use the api later
# For exploratory purposes the first page should suffice.
# Details about queries and limits can be found here: https://dev.socrata.com/consumers/getting-started.html#:~:text=Paging,of%2050%2C000%20records%20per%20page.

url = 'https://data.lacity.org/resource/ndkd-k878.json?$limit=50000'

file = requests.get(url)

In [19]:
df = pd.read_json(file.text)
df.head()

,location,zipcode,suffix,:@computed_region_qz3q_ghft,:@computed_region_k96s_3jcv,srnumber,:@computed_region_kqwf_mjcx,updateddate,closeddate,cd,...,anonymous,addressverified,actiontaken,streetname,ncname,apc,tbmpage,servicedate,:@computed_region_ur2y_g4cx,mobileos
0,"{'latitude': '34.2340985645', 'human_address':...",91331,ST,18907.0,139.0,1-411056851,3.0,2017-01-01T09:18:00.000,2017-01-01T09:18:00.000,6.0,...,N,Y,SR Created,OSBORNE,ARLETA NC,North Valley APC,502.0,NaN,NaN,NaN
1,"{'latitude': '34.0737138726', 'human_address':...",90026,ST,23444.0,470.0,1-411056141,8.0,2017-01-04T17:56:00.000,2017-01-04T17:56:00.000,13.0,...,Y,Y,SR Created,CORONADO,GREATER ECHO PARK ELYSIAN NC,East Los Angeles APC,634.0,2017-01-04T17:56:00.000,NaN,NaN
2,"{'latitude': '33.9988499952', 'human_address':...",90066,AVE,24031.0,903.0,1-411057731,10.0,2017-01-01T07:21:00.000,2017-01-01T07:21:00.000,11.0,...,N,Y,SR Created,ATLANTIC,MAR VISTA CC,West Los Angeles APC,672.0,NaN,10.0,NaN
3,"{'latitude': '34.0719937299', 'human_address':...",90026,ST,23444.0,470.0,1-411056761,8.0,2017-01-04T17:39:00.000,2017-01-04T17:39:00.000,13.0,...,Y,Y,SR Created,TEMPLE,GREATER ECHO PARK ELYSIAN NC,East Los Angeles APC,634.0,2017-01-04T17:39:00.000,NaN,NaN
4,"{'latitude': '34.0733469063', 'human_address':...",90026,ST,23444.0,470.0,1-411056681,8.0,2017-01-04T17:52:00.000,2017-01-04T17:52:00.000,13.0,...,Y,Y,SR Created,CORONADO,GREATER ECHO PARK ELYSIAN NC,East Los Angeles APC,634.0,2017-01-04T17:51:00.000,NaN,NaN

In [20]:
df.columns # Returns list of columns in the dataset to explore

Index(['location', 'zipcode', 'suffix', ':@computed_region_qz3q_ghft',
       ':@computed_region_k96s_3jcv', 'srnumber',
       ':@computed_region_kqwf_mjcx', 'updateddate', 'closeddate', 'cd',
       'address', ':@computed_region_2dna_qi2s', 'createddate',
       'requestsource', 'requesttype', 'assignto', 'latitude', 'owner',
       'housenumber', ':@computed_region_tatf_ua23', 'approximateaddress',
       'policeprecinct', 'cdmember', 'nc', 'longitude', 'tbmcolumn', 'status',
       'tbmrow', 'direction', 'anonymous', 'addressverified', 'actiontaken',
       'streetname', 'ncname', 'apc', 'tbmpage', 'servicedate',
       ':@computed_region_ur2y_g4cx', 'mobileos'],
      dtype='object')

In [21]:
df.requesttype.value_counts() # Returns the list and quantity of records in the request type. The only applicably coded requests may be Other.

Bulky Items                   20093
Graffiti Removal              18459
Metal/Household Appliances     3120
Illegal Dumping Pickup         2542
Electronic Waste               2227
Dead Animal Removal             971
Homeless Encampment             868
Single Streetlight Issue        673
Other                           670
Multiple Streetlight Issue      297
Report Water Waste               54
Feedback                         26
Name: requesttype, dtype: int64