In [1]:
import pandas as pd
import geopandas as gpd
import contextily as ctx

In [2]:
station_gdf = gpd.read_file('data/Mesonet/daily_temp.gpkg')
station_gdf.head()

,date_time,stid,relative_humidity_high,air_temp_high,heat_index_high,relative_humidity_low,air_temp_low,heat_index_low,lon,lat,geometry
0,2018-01-01T00:00:00,KBUR,100.00,73.94,72.12299,22.35,44.6,42.07209,-118.36538,34.19967,POINT (-118.36538 34.19967)
1,2018-01-02T00:00:00,KBUR,82.14,80.96,79.29248,12.73,51.8,49.59400,-118.36538,34.19967,POINT (-118.36538 34.19967)
2,2018-01-03T00:00:00,KBUR,52.30,75.20,74.11247,16.05,53.6,50.30359,-118.36538,34.19967,POINT (-118.36538 34.19967)
3,2018-01-04T00:00:00,KBUR,50.37,75.20,74.23091,18.57,51.8,49.03376,-118.36538,34.19967,POINT (-118.36538 34.19967)
4,2018-01-05T00:00:00,KBUR,93.65,73.40,73.11665,40.92,53.6,52.77579,-118.36538,34.19967,POINT (-118.36538 34.19967)

In [10]:
station_loc = station_gdf.groupby('stid').first().reset_index()[['stid', 'geometry', 'lat', 'lon']]

In [11]:
stations = { # Selected by 
    'Downtown LA/USC' : 'KCQT',
    'LAX': 'KLAX',
    'Hawthorn': 'KHHR',
    'Van Nuys': 'KVNY',
    'Burbank': 'KBUR',
    'Whiteman': 'KWHP',
    'Santa Monica': 'KSMO',
    'Torence': 'KTOA',
    'Long Beach': 'KLGB',
    'El Monte': 'KEMT'
    #'Camarillo': 'KCMA', Potential station on the north west of the city (near malibu)
    }

In [12]:
station_dict = {v:k for k, v in stations.items()}

In [15]:
station_loc['name'] = station_loc['stid'].map(station_dict)

In [18]:
station_loc.to_file('data/Mesonet/stations.gpkg', driver='GPKG', index=False)